<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img
          src="https://pm1.narvii.com/7178/454cd027d23878bbd8077271ea0b37708813b991r1-470-709v2_hq.jpg"
        />
        <span class="card-title">{{ name }}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"
          ><i class="material-icons">favorite</i></a
        >
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
    </div>
  </div>
</div>
